.form-area {
  width: 800px;
  margin: 10px auto;
  padding: 10px;
}
.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-button {
  width: 40%;
  margin-top: 2%;
  margin-left: 30%;
}

