<h2 class="text-center">Product Detail</h2>
<div appAddMargin>
  <div class="div">
    <span class="font-weight-bold"> Title : </span>{{ productDetail.title }}
  </div>
  <hr />
  <div class="div">
    <span class="font-weight-bold"> Description : </span>
    {{ productDetail.description }}
  </div>
  <hr />
  <div class="div">
    <span class="font-weight-bold"> Rating : </span>
    {{ productDetail.rating }}
  </div>
  <hr />
  <div class="div">
    <span class="font-weight-bold">Price : </span>{{ productDetail.price }}
  </div>
  <hr />
  <div class="div">
    <span class="font-weight-bold">Category : </span>
    {{ productDetail.category }}
  </div>
  <hr />
  <div class="div">
    <span class="font-weight-bold">Sub-Category : </span>
    {{ productDetail.subCategory }}
  </div>
  <hr />
  <div class="div">
    <span class="font-weight-bold">Brand : </span>{{ productDetail.brand }}
  </div>
  <hr />
</div>
